/* YOU WILL EDIT ALL THE COLORS BELOW */
:root {
   /* Normal Colors */
   /* Normal Colors */
   --background-color: rgb(248, 248, 248);
   --alt-background-color: white;
   --font-color: black;
   --alt-font-color: rgb(136, 136, 136);
   --border-color: #04C4D9;
   /* Dark Mode Colors */
   --dark-background-color: rgb(59, 59, 59);
   --dark-alt-background-color:black ;
   --dark-font-color: white;
   --dark-alt-font-color: gainsboro;
   --dark-border-color: #04C4D9;

    /* logo colors
    blue: #04C4D9
    yellow: #F29D35
    brown: #733702
    green: #03A64A 
    */
}


*,
*:before,
*:after {
  box-sizing: inherit;
}

body main {
    font-size: 62.5%;
    padding: 2rem 1rem;
    text-align: center;
    font-family: 'Roboto', sans-serif; /* EDIT */
}

body main h1 {
    margin-bottom: 3rem;
    font-size: 2.5rem;
    text-decoration: underline;
    text-align: center;
    font-family: 'Roboto', sans-serif; /* EDIT */
}

body main h2 {
    font-size: 1.75rem;
    font-family: 'Roboto', sans-serif; /* EDIT */
}

body main button {
    font-size: 1.15rem;
    padding: 0.75rem 1.5rem;
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
    background-color: var(--alt-background-color);
    cursor: pointer;
    font-family: 'CedaRoboto', sans-serif; /* EDIT */
}

body main button:hover {
    background-color: var(--background-color);
}

body main > div {
    text-align: left;
    font-size: 1.15rem;
    margin: 1rem auto;
    max-width: 750px;
    border-top: 1px solid var(--alt-background-color);
}

body main > div:first-of-type {
    border-top: 0px transparent;
}

body main div .color-wrapper .color {
    width: 100%;
    height: 150px;
    margin: 0.75rem 0;
    border: 1px solid var(--primary-color);
}

body main > div:nth-of-type(1), body > div:nth-of-type(2) {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 15px;
}

body main > div:nth-of-type(1) h2, body > div:nth-of-type(2) h2 {
    grid-row: 1;
    grid-column: 1/5;
}

body main > div:nth-of-type(1) .color-wrapper:nth-of-type(1) .color {
    background-color: var(--background-color);
}

body main > div:nth-of-type(1) .color-wrapper:nth-of-type(2) .color {
    background-color: var(--alt-background-color);
}

body main > div:nth-of-type(1) .color-wrapper:nth-of-type(3) .color {
    background-color: var(--primary-color);
}

body main > div:nth-of-type(1) .color-wrapper:nth-of-type(4) .color {
    background-color: var(--alt-primary-color);
}

body main > div:nth-of-type(2) .color-wrapper:nth-of-type(1) .color {
    background-color: var(--dark-background-color);
}

body main > div:nth-of-type(2) .color-wrapper:nth-of-type(2) .color {
    background-color: var(--dark-alt-background-color);
}

body main > div:nth-of-type(2) .color-wrapper:nth-of-type(3) .color {
    background-color: var(--dark-primary-color);
}

body main > div:nth-of-type(2) .color-wrapper:nth-of-type(4) .color {
    background-color: var(--dark-alt-primary-color);
}

body.dark-mode main {
    background-color: var(--dark-background-color);
    color: var(--dark-primary-color);
}

body.dark-mode button {
    color: var(--dark-primary-color);
    border: 1px solid var(--dark-primary-color);
    background-color: var(--dark-alt-background-color);
}

body.dark-mode button:hover {
    background-color: var(--dark-background-color);
}

body.dark-mode > div {
    border-top: 1px solid var(--dark-alt-background-color);
}

body.dark-mode > div:first-of-type {
    border-top: 0px transparent;
}

body.dark-mode div .color-wrapper .color {
    border: 1px solid var(--dark-primary-color);
}